<section class="project-page">

  <div class="container">
    <button pButton icon="pi pi-undo" label="{{ 'back' | translate }}" class="p-button-text back-btn"
      (click)="goBack()"></button>
    <h2 class="page-title">{{ project?.name }}</h2>

    @if (project) {

    <p-galleria [value]="images()" [showThumbnails]="true" [showIndicators]="true" [circular]="true" [autoPlay]="true"
      [transitionInterval]="3000" [showItemNavigators]="true" [showThumbnailNavigators]="false">
      <ng-template pTemplate="item" let-image>
        <img [src]="image || projectImage" (error)="onImageError($event)" alt="Project Image" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-image>
        <img [src]="image || projectImage" (error)="onImageError($event)" alt="Thumbnail" />
      </ng-template>
    </p-galleria>
    <br>
    <div class="card flex justify-center m-3 p-3">
      <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
          <p-step [value]="1">{{'details' | translate}}</p-step>
          <p-step [value]="2">{{'discription' | translate}}</p-step>
          <p-step [value]="3">{{'features' | translate}}</p-step>
          <p-step [value]="4">{{'delivery-specifications' | translate}}</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="section">
                <h4>{{ 'type' | translate }}</h4>
                {{project.types}}
              </div>

              <div class="section">
                <h4>{{ 'region' | translate }}</h4>
                <ul>

                  @for (region of project['region_chain']; track region.id) {
                  <li>
                    <strong>{{ region.name }}</strong>
                    @if (region.features && region.features != 'null') {
                    <span [innerHTML]='region.features'></span>

                    }
                    @else{
                    <span></span>
                    }
                  </li>
                  }
                </ul>
              </div>


              <div class="flex p-3 justify-end">
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">

              <div class="section ">
                <h4>{{ 'discription' | translate }}</h4>
                <span [innerHTML]='project.description'></span>
              </div>

              <div class="flex p-3 justify-between">
                <p-button [label]="'back' | translate" severity="secondary" (onClick)="activateCallback(1)" />
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(3)" />
              </div>
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">

              <div class="section">
                <h4>{{ 'features' | translate }}</h4>

                <span [innerHTML]='project.features'></span>

              </div>

              <div class="flex p-3 justify-between">
                <p-button [label]="'back' | translate" severity="secondary" (onClick)="activateCallback(1)" />
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(3)" />
              </div>
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">

              <div class="section">
                <h4>{{'delivery-specifications' | translate}}</h4>
                <ul class="features-list">
                  @for (item of project['facilities']; track item.id) {
                  <li>
                    <img [src]="item.main_image || ficon" class="feature-icon" (error)="onImageError2($event)" />
                    <span>{{ item.name }}</span>
                  </li>
                  }
                </ul>
              </div>

              <div class="flex p-3 justify-start">
                <p-button [label]="'back' | translate" severity="secondary" iconPos="right"
                  (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>
    <div class="details">
      @if(project.pdf){
      <div class="download">
        <button pButton type="button" label="{{ 'pdf-download' | translate }}" icon="pi pi-download"
          (click)="downloadPdf()"></button>
      </div>
      }


      @if (project.unit_types?.length > 1) {
      <div class="section">
        <h3 class="unit-name">{{ 'units' | translate }}</h3>
        <div class="unit-grid">
          @for (unit of project.unit_types; track unit.id ?? unit.name) {
          <div (click)="getUnits(unit.id)" [class.active-unit]="selectedUnitId === unit.id">
            <p>{{ unit.name }}</p>
          </div>
          }
        </div>
      </div>
      <div class="unit-container">
        @for (unit of units; track unit.id) {
        <div class="unit-featured">
          <button class="scroll-top-btn" (click)="goToUnit(unit.id)"> <i class="pi pi-arrow-up-left"></i> </button>
          <div class="status-badge" [ngClass]="{
        'available': unit.status_slug === 'available',
        'sold-out': unit.status_slug === 'sold out',
        'not-available': unit.status_slug === 'not available'
      }">
            {{ unit.status }}
          </div>
          <img [src]="unit.main_image  || unitImage" (error)="onImageError($event)" alt="{{unit.title}}" />
          <div class="info-box">
            <h3>{{ unit.name }}</h3>
            <div class="details">
              <span><i class="pi pi-th-large"></i> <span class="num">{{ unit.area }}</span> {{'meter' |
                translate}}</span> |
              <span><i class="pi pi-bed"></i> <span class="num">{{ unit.rooms }} </span>{{'rooms' | translate}}</span> |
              <span><i class="pi pi-shower"></i> <span class="num">{{ unit.bathrooms }}</span> {{'bathroom' |
                translate}}</span>
            </div>
          </div>
        </div>
        }
      </div>
      }

    </div>
    }
  </div>
</section>