<section class="project-page">
  <div class="container">
    <h2 class="page-title">{{ project?.name }}</h2>

    @if (project) {

    <p-galleria [value]="images()" [showThumbnails]="true" [showIndicators]="true" [circular]="true" [autoPlay]="true"
      [transitionInterval]="3000" [showItemNavigators]="true" [showThumbnailNavigators]="false">
      <ng-template pTemplate="item" let-image>
        <img [src]="image || projectImage" (error)="onImageError($event)" alt="Project Image" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-image>
        <img [src]="image || projectImage" (error)="onImageError($event)" alt="Thumbnail" />
      </ng-template>
    </p-galleria>
    <br>
    <div class="card flex justify-center m-3 p-3">
      <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
          <p-step [value]="1">{{'details' | translate}}</p-step>
          <p-step [value]="2">{{'discription' | translate}}</p-step>
          <p-step [value]="3">{{'facilities' | translate}}</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class=" ">
                  {{ project.status}}<br>
                  {{project.types}}
                </div>
              </div>
              <div class="flex p-3 justify-end">
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class=" ">
                                        {{project.description}}
                   {{ project.region}}

                  <div class="section region-chain">
                    <h4>{{ 'Regions' | translate }}</h4>
                    <ul>

                      @for (region of project['region_chain']; track region.id) {
                      <li>
                        <strong>{{ region.name }}</strong>
                        @if (region.features) {
                        <span> - {{ region.features }}</span>
                        }
                      </li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
              <div class="flex p-3 justify-between">
                <p-button [label]="'back' | translate" severity="secondary" (onClick)="activateCallback(1)" />
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(3)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class=" ">
                  <div class="section facilities">
                    <h4>{{ 'facilities' | translate }}</h4>
                    <ul>
                      @for (item of project.facilities; track $index) {
                      <li>{{ item }}</li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
              <div class="flex p-3 justify-start">
                <p-button [label]="'back' | translate" severity="secondary" iconPos="right"
                  (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>
    <div class="details">
      <div class="section unit-types">
        <h4>{{ 'Unit Types' | translate }}</h4>
        <div class="unit-grid">
          @for (unit of project.unit_types; track unit.id ?? unit.name) {
          <div>
            <p class="unit-name">{{ unit.name }}</p>
            <p class="unit-count">{{ 'Count' | translate }}: {{ unit.count }}</p>
          </div>
          }
        </div>
      </div>

      @if (project.pdf) {
      <div class="download">
        <button pButton type="button" label="{{ 'project-details.download-brochure' | translate }}"
          icon="pi pi-download" (click)="downloadPdf()"></button>
      </div>
      }
    </div>
    } @else {
    <div class="loading">{{ 'Loading project details...' | translate }}</div>
    }
  </div>
</section>