<div class="resetpassword-container">
  <div class="overlay"></div>

  <div class="resetpassword-card">
    <h2>إعادة تعيين كلمة المرور</h2>
    <p class="subtitle">برجاء إدخال كلمة السر الجديدة</p>
    <form class="w-100 p-4" [formGroup]="resetpasswordForm" (ngSubmit)="resetpasswordForm.valid && onSubmit()" novalidate>
      <div class="form-group">
        <div class="inp">
          <i class="pi pi-lock"></i>
          <input type="password" placeholder="كلمة السر" class="form-control" formControlName="new_password" />
        </div>

      </div>

        <div *ngIf="new_password?.invalid && new_password?.touched">
          <small class="text-danger" *ngIf="new_password?.errors?.['required']">new_password is required.</small>
          <small class="text-danger" *ngIf="new_password?.errors?.['minlength']">new_password is so small min-length 6.</small>

        </div>
        <br>
      <div class="form-group">
        <div class="inp">
          <i class="pi pi-lock"></i>
          <input type="password" placeholder="تأكيد كلمة السر" class="form-control" formControlName="new_password_confirmation" />
        </div>

      </div>
        <div *ngIf="new_password_confirmation?.invalid && new_password_confirmation?.touched">
          <small class="text-danger" *ngIf="new_password_confirmation?.errors?.['required']">new_password_confirmation is required.</small>
          <small class="text-danger" *ngIf="new_password_confirmation?.errors?.['minlength']">new_password_confirmation is so small min-length 6.</small>
          <small class="text-danger" *ngIf="new_password_confirmation?.errors?.['backend']">
            {{ new_password_confirmation.errors?.['backend'] }}
          </small>        </div>
      <br />

      <button type="submit" class="btn-resetpassword"> تأكيد</button>


    </form>

  </div>
</div>