
<footer class="footer">
  <div class="container flex flex-wrap justify-content-between align-items-start">
        <div class="footer-col logo-col text-center">
      <img src="images/logo.png" alt="Logo" class="footer-logo" />
      <div class="social-icons">
        <a href="#"><i class="pi pi-linkedin"></i></a>
        <a href="#"><i class="pi pi-facebook"></i></a>
        <a href="#"><i class="pi pi-twitter"></i></a>
        <a href="#"><i class="pi pi-instagram"></i></a><br>
        <a href="#"><i class="pi pi-tiktok"></i></a>
        <a href="#"><i class="pi pi-youtube"></i></a>
      </div>
    </div>

        <div class="footer-col">
      <h4>روابط سريعة</h4>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">الرئيسية</a></li>
        <li><a routerLink="/about">من نحن</a></li>
        <li><a routerLink="/projects">المشروعات</a></li>
        <li><a routerLink="/business">سابقة الأعمال</a></li>
        <li><a routerLink="/delivery">مواصفات التسليم</a></li>
        <li><a routerLink="/contact">اتصل بنا</a></li>
      </ul>
    </div>
 
    <div class="footer-col">
      <h4>اتصل بنا</h4>
      <p><i class="pi pi-phone"></i><span class="mr-3">19888</span></p>
      <p><i class="pi pi-envelope"></i><span class="mr-3">info@sarhdevelopment.com</span></p>
      <p><i class="pi pi-mobile"></i><span class="mr-3">+20219888</span></p>
      <p><i class="pi pi-map-marker"></i><span class="mr-3">كورنيش، المعادي، القاهرة، مصر</span></p>
    </div>
    
  </div>

  <div class="footer-bottom text-center">
    <p>Copyright © 2025 sarhdevelopment, All Rights Reserved</p>
  </div>
</footer>
