
<footer class="footer" [class.rtl]="currentLang === 'ar'" [class.ltr]="currentLang === 'en'">
  <div class="container flex flex-wrap justify-content-between align-items-start">
        <div class="footer-col">
      <h4>{{'quick-link' | translate}} </h4>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">{{'home' | translate}}</a></li>
        <li><a routerLink="/about">{{'about' | translate}} </a></li>
        <li><a routerLink="/projects">{{'projects' | translate}}</a></li>
        <li><a routerLink="/business">{{'business' | translate}} </a></li>
        <li><a routerLink="/followup">{{'followup' | translate}} </a></li>
        <li><a routerLink="/delivery">{{'delivery' | translate}} </a></li>
        <li><a routerLink="/contact">{{'contact-us' | translate}}</a></li>
      </ul>
    </div>
 
    <div class="footer-col">
      <h4>{{'call-us' | translate}}</h4>
      <p><i class="pi pi-phone"></i><span class="mr-3 ml-3">01211022750</span></p>
      <p><i class="pi pi-envelope"></i><span class="mr-3 ml-3">sarhdevelopment@gmail.com</span></p>
      <p><i class="pi pi-mobile"></i><span class="mr-3 ml-3">01000048570</span></p>
      <p><i class="pi pi-map-marker"></i><span class="mr-3 ml-3">{{'address' | translate}}</span></p>
    </div>
    
      <div class="footer-col logo-col text-center">
      <img src="images/logo.png" alt="Logo" class="footer-logo" />
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/sarh-development-5b26b0283/" target="_blank"><i class="pi pi-linkedin"></i></a>
        <a href="https://www.facebook.com/sarhrealestate/" target="_blank"><i class="pi pi-facebook"></i></a>
        <a href="https://x.com/Developmen65461" target="_blank"><i class="pi pi-twitter"></i></a>
        <a href="https://www.instagram.com/sarhdevelopment?igsh=MWFwZ3E1dmN6ZW14eQ==" target="_blank"><i class="pi pi-instagram"></i></a><br>
        <a href="#" target="_blank"><i class="pi pi-tiktok" ></i></a>
        <a href="https://www.threads.com/@sarhdevelopment" target="_blank"><i class="bi bi-threads"></i></a>
        <a href="https://www.youtube.com/@sarhdevelopment" target="_blank"><i class="pi pi-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom text-center">
    <p>{{'copyright'| translate}}</p>
  </div>
</footer>
<button class="footer-iconTop" (click)="gotoTop()"><i class="pi pi-arrow-up"></i></button>
