<section class="unit-page">

  <div class="container">
    <button pButton icon="pi pi-undo" label="{{ 'back' | translate }}" class="p-button-text back-btn"
      (click)="goBack()"></button>
    <h2 class="page-title">{{ unit?.name }}</h2>

    @if (unit) {

    <p-galleria [value]="images()" [showThumbnails]="true" [showIndicators]="true" [circular]="true" [autoPlay]="true"
      [transitionInterval]="3000" [showItemNavigators]="true" [showThumbnailNavigators]="false">
      <ng-template pTemplate="item" let-image>
        <img [src]="image || unitImage" (error)="onImageError($event)" alt="unit Image" />
        <div class="status-badge" [ngClass]="{
        'available': unit.status_slug === 'available',
        'sold-out': unit.status_slug === 'sold out',
        'not-available': unit.status_slug === 'not available'
      }">
            {{ unit.status }}
          </div>
      </ng-template>

      <ng-template pTemplate="thumbnail" let-image>
        <img [src]="image || unitImage" (error)="onImageError($event)" alt="Thumbnail" />
      </ng-template>
    </p-galleria>
    <br>
    <div class="card flex justify-center m-3 p-3">
      <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
          <p-step [value]="1">{{'details' | translate}}</p-step>
          <p-step [value]="2">{{'discription' | translate}}</p-step>
          <p-step [value]="3">{{'features' | translate}}</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="unit-details">
                <div class="detail-row">
                  <span class="label">{{'unitarea' | translate}}</span>
                  <span class="value">{{unit.area}} {{'meter' | translate}}</span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'type' | translate}}</span>
                  <span class="value">{{unit.type}}</span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'project' | translate}}</span>
                  <span class="value">{{unit.project}} </span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'bedroom' | translate}}</span>
                  <span class="value">{{unit.rooms}} {{'rooms' | translate}}</span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'bathroom' | translate}}</span>
                  <span class="value">{{unit.bathrooms}}</span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'floor' | translate}}</span>
                  <span class="value">{{unit.floor}}</span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'finishing' | translate}}</span>
                  <span class="value">{{unit.finishing}}</span>
                </div>
                <div class="detail-row">
                  <span class="label">{{'price' | translate}}</span>
                  <span class="value"> {{unit.price}}</span>
                </div>
              </div>



              <div class="flex p-3 justify-end">
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div class="section ">
                  <h4>{{ 'discription' | translate }}</h4>
                  {{unit.description}}
                </div>
              </div>
              <div class="flex p-3 justify-between">
                <p-button [label]="'back' | translate" severity="secondary" (onClick)="activateCallback(1)" />
                <p-button class="next-btn" [label]="'next' | translate" (onClick)="activateCallback(3)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              
                
                  <div class="section">
                    <h4>{{ 'features' | translate }}</h4>
                    <ul class="features-list">
                      @for (item of unit.facilities; track item.id) {
                      <li>
                         <img 
              [src]="item.main_image || ficon" 
              class="feature-icon" 
              (error)="onImageError2($event)"
            />
            <span>{{ item.name || item }}</span>
          </li>
                      }
                    </ul>
                 
              </div>
              <div class="flex p-3 justify-start">
                <p-button [label]="'back' | translate" severity="secondary" iconPos="right"
                  (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>
    <div class="details">

      @if (unit.unit_types?.length > 1) {
      <div class="section">
        <h3 class="unit-name">{{ 'units' | translate }}</h3>
        <div class="unit-grid">
          @for (u of unit.unit_types; track u.id ?? u.name) {
          <div (click)="getprojectunit(unit.project_id,u.id)" [class.active-unit]="selectedUnitId === u.id">
            <p>{{ u.name }}</p>
          </div>
          }
        </div>
      </div>
      <div class="unit-container">
        @for (up of projectunits; track up.id) {
        <div class="unit-featured">
          <button class="scroll-top-btn" (click)="goToUnit(up.id)"> <i class="pi pi-arrow-up-left"></i> </button>
          <div class="status-badge" [ngClass]="{
        'available': up.status_slug === 'available',
        'sold-out': up.status_slug === 'sold out',
        'not-available': up.status_slug === 'not available'
      }">
            {{ up.status }}
          </div>
          <img [src]="up.image  || unitImage" (error)="onImageError($event)" alt="{{up.title}}" />
          <div class="info-box">
            <h3>{{ up.name }}</h3>
            <div class="details">
              <span><i class="pi pi-th-large"></i> <span class="num">{{ up.area }}</span> {{'meter' |
                translate}}</span> |
              <span><i class="pi pi-bed"></i> <span class="num">{{ up.rooms }} </span>{{'rooms' | translate}}</span> |
              <span><i class="pi pi-shower"></i> <span class="num">{{ up.bathrooms }}</span> {{'bathroom' |
                translate}}</span>
            </div>
          </div>
        </div>
        }
      </div>
      }

    </div>
<br>
    } 
  </div>
</section>