
<header class="main-header ">
  <div class="container flex align-items-center justify-content-between navheader">
        <!-- Logo -->
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" style="height: 50px" />
    </div>
    <!-- Links (PrimeNG Menubar) -->
    <p-menubar [model]="items" class="menu"></p-menubar>
        <!-- Actions -->
    <div class="actions flex align-items-center gap-2">
      <button pButton  (click)="switchLang()" class="p-button-text langbtn">
  {{ currentLang === 'ar' ? 'En' : 'ع' }}
        <i class="pi pi-globe" ></i>

      </button>

      <button pButton  class="p-button-rounded contactbtn" >{{'contact-us' | translate }}</button>
    </div>

  </div>
</header>
