.main-header {
  direction: rtl;
}

.navheader {
  background: white;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 2px 1px 1px #ededed;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.rtl{
 direction: rtl;
  }
  &.ltr{
direction: ltr;
  }
}


.p-menubar {
  border: none;
  background: transparent;
  flex: 1;
  &.rtl{
  flex-direction: row;
  direction: rtl;
  }
  &.ltr{
      flex-direction: row-reverse;
        direction: ltr;
  }
}

.p-menubar-root-list {
  margin: 0 auto; 
}

::ng-deep {
  .p-menubar-item-link {
    color: var(--third-color) !important;
    font-weight: 500;
    text-decoration: none;
    background: white !important;
    transition: all 0.2s ease-in-out;
    border-bottom: 3px solid transparent;
  }

  .p-menubar-item-link:hover,
  .p-menubar-item-link:focus,
  .p-menubar-item-link:active {
    background: white !important;
    color: var(--third-color) !important;
    border-bottom: 3px solid var(--third-color) !important;
    box-shadow: none !important;
  }
.p-menubar-item-link.p-menubar-item-link-active{
  border-bottom: 3px solid var(--third-color) !important;
  color: var(--third-color) !important;
  background: white !important;
}
.p-menubar-item-link:hover{
  color: var(--first-color) !important;
  border-bottom: 3px solid transparent !important;
}
.p-menubar-mobile .p-menubar-item-link-active{
  color: var(--first-color) !important;
  border:none !important;


}
  .contactbtn.p-button {
    border: 1px solid var(--first-color);
    padding: 5px 30px;
    color: white;
    background: var(--first-color);
    transition: all 0.2s ease-in-out;
  }

  .contactbtn:hover {
    background: #c99235 !important;
    border: 1px solid #c99235 !important;
    color: white !important;
  }

  .langbtn.p-button {
    color: var(--third-color) !important;
  }
    .langbtn.p-button-text:not(:disabled):hover{
background: white !important; 
box-shadow: none;
 }
  .langbtn i {
    color: var(--first-color) !important;
  }
  .p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    border: none;
    background: none;
}
.p-menubar-button:hover {
    color: var(--first-color);
    background: white;
}
 .p-menubar-mobile .p-menubar-root-list{

    background: #f7f7f7 !important;
}
.p-menubar-mobile .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link:hover,
.p-menubar-mobile .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link:active {
    color: var(--first-color) !important;
}

   @media  (max-width: 480px) {
  
 .p-menubar-mobile .p-menubar-root-list{
    left: -75px !important;
    width: 170px !important;
    background: #f7f7f7;
}


  }
}

/*Responsive */
@media (min-width: 769px) and (max-width: 1024px) {
  .p-menubar-root-list {
    display: flex !important;
  }

  .p-menubar {
    font-size: 0.9rem !important;
  }

  .p-menubar-button {
    display: none !important; 
  }
}

@media (max-width: 768px) {
  .navheader {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo img {
    height: 40px;
  }

 
  .p-menubar-root-list {
    display: none !important; 
    
  }

 .p-menubar-button {
    display: flex !important; 
  }

 .p-menubar .actions {
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
  }

}
