<!-- <header class="main-header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>

  
    <nav class="nav-links">
      <a routerLink="/">الرئيسية</a>
      <a routerLink="/about">من نحن</a>
      <a routerLink="/projects">المشروعات</a>
      <a routerLink="/business">سابقة الأعمال</a>
      <a routerLink="/followup">متابعة الإنشاءات</a>
      <a routerLink="/delivery">مواصفات التسليم</a>
    </nav>

 
    <div class="actions">
      <button class="lang">En</button>
      <button class="cta">تواصل معنا</button>
    </div>
  </div>
</header> -->
