<div class="card flex justify-center">
<p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
             <div class="flex flex-column h-full"> 
                <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                    <span class="inline-flex align-items-center gap-2 title">Sarh Development
                    </span>
                    <span class="closebtn">
                        <p-button  type="button" (onClick)="closeCallback($event)" icon="pi pi-arrow-circle-right
                        " rounded="true" outlined="true" styleClass="h-2rem w-2rem"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none p-3 m-0">


                        <li>
                            <div
                                pRipple
                                pStyleClass="@next"
                                enterFromClass="hidden"
                                enterActiveClass="slidedown"
                                leaveToClass="hidden"
                                leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between  cursor-pointer p-ripple main"
                            >
                                <span class="font-medium">Regions</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">

                                <li>
                                    <a routerLink="/admin-home/view-region" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-check mr-2"></i>
                                        <span class="font-medium">view</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/admin-home/create-region" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-edit mr-2"></i>
                                        <span class="font-medium">create</span>
                                    </a>
                                </li>

                                
                            </ul>
                        </li>
         <li>
                            <div
                                pRipple
                                pStyleClass="@next"
                                enterFromClass="hidden"
                                enterActiveClass="slidedown"
                                leaveToClass="hidden"
                                leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between  cursor-pointer p-ripple main"
                            >
                                <span class="font-medium">Facilities</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">

                                <li>
                                    <a routerLink="/admin-home/view-facilitie" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-check mr-2"></i>
                                        <span class="font-medium">view</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/admin-home/create-facilitie" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-edit mr-2"></i>
                                        <span class="font-medium">create</span>
                                    </a>
                                </li>

                                
                            </ul>
                        </li>
                        <li>
                            <div
                                pRipple
                                pStyleClass="@next"
                                enterFromClass="hidden"
                                enterActiveClass="slidedown"
                                leaveToClass="hidden"
                                leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between  cursor-pointer p-ripple main"
                            >
                                <span class="font-medium">Projects</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">

                                <li>
                                    <a routerLink="/admin-home/view-project" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-check mr-2"></i>
                                        <span class="font-medium">View</span>
                                    </a>
                                </li>

                                <li>
                                                                      
                                    <a routerLink="/admin-home/create-project" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-edit mr-2"></i>
                                        <span class="font-medium">create</span>
                                    </a>
                                   
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div
                                pRipple
                                pStyleClass="@next"
                                enterFromClass="hidden"
                                enterActiveClass="slidedown"
                                leaveToClass="hidden"
                                leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between  cursor-pointer p-ripple main"
                                
                            >
                                <span class="font-medium">Units</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">

                                <li>
                                    <a routerLink="/admin-home/view-unit" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-check mr-2"></i>
                                        <span class="font-medium">view</span>
                                    </a>
                                   
                                </li>
                                <li>
                                    <a routerLink="/admin-home/create-unit" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-file-edit mr-2"></i>
                                        <span class="font-medium">Create</span>
                                    </a>
                                </li>
                              
                            </ul>
                        </li>
                                <li>
                                    <a routerLink="/admin-home/resetPassword" pRipple class="flex align-items-center cursor-pointer p-3 border-round  hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-lock mr-2"></i>
                                        <span class="font-medium">Reset Password</span>
                                    </a>
                                </li>
                    </ul>

                </div>

            </div> 
    </ng-template>
</p-drawer>
<p-button class="sidebar-btn" (click)="visible = true" icon="pi pi-bars" />
</div>
