<div class="login-container">
  <div class="overlay"></div>

  <div class="login-card">
    <h2>تسجيل الدخول</h2>
    <p class="subtitle">برجاء إدخال التفاصيل الخاصة بك</p>
    <form class="w-100 p-4" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" novalidate>
      <div class="form-group">
        <div class="inp">
          <i class="pi pi-envelope"></i>
          <input type="email" placeholder="بريدك الإلكتروني" class="form-control" formControlName="email" />
        </div>

      </div>
        <div *ngIf="email.invalid && email.touched">
          <small class="text-danger" *ngIf="email.errors?.['required']">Email is required.</small>
          <small class="text-danger" *ngIf="email.errors?.['pattern']">Email is not valid.</small>
        </div>
<br>
      <div class="form-group">
        <div class="inp">
          <i class="pi pi-lock"></i>
          <input type="password" placeholder="كلمة السر" class="form-control" formControlName="password" />
        </div>

      </div>
        <div *ngIf="password?.invalid && password?.touched">
          <small class="text-danger" *ngIf="password?.errors?.['required']">password is required.</small>
          <small class="text-danger" *ngIf="password?.errors?.['minlength']">password is so small min-length 6.</small>
        </div>
      <br />
      <a [routerLink]="['/resetPassword']" class="forgot-password">إعادة تعيين كلمة المرور</a>

      <button type="submit" class="btn-login">تسجيل الدخول</button>


    </form>

  </div>
</div>