<div class="login-container">
  <div class="overlay"></div>

  <div class="login-card">
      <img src="/images/logo.png" alt="Logo" class="login-logo" />  <!-- 🟢 أضف اللوجو هنا -->

    <h2>تسجيل الدخول</h2>
    <p class="subtitle">برجاء إدخال التفاصيل الخاصة بك</p>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" novalidate>
      <div class="form-group">
        <div class="inp">
          <i class="pi pi-envelope" ></i>
          <input type="email" placeholder="بريدك الإلكتروني" formControlName="email" />
        </div>

      </div>
        <div *ngIf="email.invalid && email.touched">
          <small class="text-danger" *ngIf="email.errors?.['required']">Email is required.</small>
          <small class="text-danger" *ngIf="email.errors?.['pattern']">Email is not valid.</small>
        </div>
        <br>
      <div class="form-group">
        <div class="inp">
          <i class="pi pi-lock"></i>
          <input type="password" placeholder="كلمة السر" formControlName="password" />
        </div>
      </div>
        <div *ngIf="password?.invalid && password?.touched">
          <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required.</small>
          <small class="text-danger" *ngIf="password?.errors?.['minlength']">Password too short (min 6).</small>
        </div>
      <!-- <a [routerLink]="['/admin-home/resetPassword']" class="forgot-password">إعادة تعيين كلمة المرور</a> -->
<br>
      <button type="submit"  [disabled]="loginForm.invalid" class="btn-login">تسجيل الدخول</button>
    </form>
  </div>
</div>
