<section class="region-page">
  <div class="container">
    <h2 class="page-title">{{ regionTitle }}</h2>


    <div class="region-container">
        @for (region of regionList; track region) {
          @if (region.isRegion == true) {
      <div class="region-card" (click)="goToProject(region.id)">
        <div class="image-wrapper">
          <img
            [src]="region.main_image || regionImage"
            (error)="onImageError($event)"
            alt="region image"
          />
          <div class="overlay"></div>
          <span class="region-name">{{ region.name }}</span>
        </div>
      </div>}
          @else {
  <p>No region found.</p>
}
    }
    </div>

  </div>
</section>
