/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'primeicons/primeicons.css';
@import "primeflex/primeflex.css";

:root{
    --first-color:#B07F2D;
    --second-color:#808184;
	--third-color:#000000;
  --fourth-color:#c38e33;
    
}
body {
  font-family: 'Almarai', sans-serif !important;
 background: #F9F9F9;
}
html {
  scroll-behavior: smooth;
}


button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}
  .projects-carousel .p-carousel-indicator-list,
  .projectsreversed-carousel .p-carousel-indicator-list{
    display: none !important;
   }
    .search-form .form-field .p-select {
        width: 100% !important;
         background: #F9F9F9;
         border: 0;
      }
      .p-dialog,.p-checkbox-box,.p-inputtext,.p-multiselect-overlay{
        background-color: white !important;
      }
      .p-select-option,.p-multiselect-option,.p-select-label,.p-textarea,.p-inputtext{
        color: var(--third-color) !important;
      }
      .p-select-list,.p-multiselect-list{
                 background: #F9F9F9 !important;
               color: var(--third-color) !important;
      }
.p-select-option.p-select-option-selected,
.p-multiselect-option.p-multiselect-option-selected{
     background: #e8e8e8 !important;
    color: var(--first-color) !important;
}
.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus,
.p-select-option.p-select-option-selected.p-focus,
  .p-multiselect-option:not(.p-multiselect-option-selected):not(.p-disabled).p-focus,
.p-multiselect-option.p-multiselect-option-selected.p-focus,.p-chip{
   background: var(--first-color) !important;
    color: white !important;
}
.p-select-overlay,.p-multiselect-overlay{
  border: none !important;
}
.p-checkbox-checked .p-checkbox-box {
    border-color: var(--fourth-color) !important;
}
.p-button-text.p-button-secondary:not(:disabled):hover{
   background: var(--first-color) !important;
 color: white !important;
 border: none !important;
}
.p-textarea,.p-select,.p-multiselect{
  background: white !important;
  border: 1px solid #dee2e6 !important;
}
.arabic{
  color: var(--second-color);
  padding: 0 5px;
}
.p-inputtext:enabled:focus,
.p-multiselect:not(.p-disabled).p-focus,
.p-select:not(.p-disabled).p-focus{
  border-color: var(--fourth-color) !important;
}
.p-paginator-page.p-paginator-page-selected{
  background: var(--fourth-color) !important;
    color: white !important;
}
.p-datepicker-today > .p-datepicker-day-selected ,
.p-datepicker-day-selected{
    background: var(--first-color) !important;
    color: white !important;
}
.p-step-active .p-step-number {
    color: var(--fourth-color) !important;
}
.p-step-active .p-step-title {
    color: var(--fourth-color) !important;
}
.p-steppanel{
  color: var(--third-color) !important;
}
.p-step:has(~ .p-step-active) .p-stepper-separator {
    background: var(--fourth-color) !important;
}
.p-button-text:not(:disabled):hover{
  background: #fff9ef !important;
}

.back-btn {
  margin-bottom: 1rem;
  color: var(--first-color) !important;
  font-weight: 500;
}
.back-btn:hover {
  background: transparent;
  color: var(--first-color) !important;
  
}
.p-carousel-indicator-active .p-carousel-indicator-button {
    background: var(--fourth-color) !important;
}
.p-select-list-container {
    overflow: hidden;
}