/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'primeicons/primeicons.css';
@import "primeflex/primeflex.css";

:root{
    --first-color:#B07F2D;
    --second-color:#808184;
	--third-color:#000000;
  --fourth-color:#c38e33;
    
}
body {
  font-family: 'Almarai', sans-serif !important;
 background: #F9F9F9;
}


button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}
  .projects-carousel .p-carousel-indicator-list,
  .projectsreversed-carousel .p-carousel-indicator-list{
    display: none !important;
   }
    .search-form .form-field .p-select {
        width: 100% !important;
         background: #F9F9F9;
         border: 0;
      }
      .p-dialog{
        background-color: white !important;
      }
      .p-select-option{
        color: var(--third-color) !important;
      }
      .p-select-list{
                 background: #F9F9F9;
               color: var(--third-color);
      }
.p-select-option.p-select-option-selected{
     background: #e8e8e8 !important;
    color: var(--first-color) !important;
}
.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus,
.p-select-option.p-select-option-selected.p-focus{
   background: var(--first-color) !important;
    color: white !important;
}
.p-select-overlay{
  border: none !important;
}
.p-button-text.p-button-secondary:not(:disabled):hover{
   background: var(--first-color) !important;
 color: white !important;
}
.p-textarea{
  background: white !important;
  border: 1px solid #dee2e6 !important;
}
.arabic{
  color: var(--second-color);
  padding: 0 5px;
}