/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root{
    --first-color:#B07F2D;
    --second-color:#808184;
	--third-color:#000000;
    font-family: almar;
}
body {
  font-family: 'Almarai', sans-serif !important;
  direction: rtl;
  text-align: right;
}

html[lang="en"] {
  font-family: 'Roboto', sans-serif;
  direction: ltr;
  text-align: left;
}
